<div style="margin-left: 60px;margin-top: 50px;">
  <mat-form-field style="min-width: 220px;">
    <input type="text" matInput minlength="10" maxlength="10" required #phoneNumberRef="ngModel"
      [(ngModel)]="phoneNumber" placeholder="Enter 10 digit phone number">
  </mat-form-field>
  <span style="margin-left: 10px;margin-right: 10px;"><button [disabled]="phoneNumberRef.invalid" mat-raised-button (click)="onSubmit()" color="primary"> Submit
    </button></span>
  <span>Total Count: {{combinations.length}}</span>
</div>

<div style="margin-left: 20px;">
  <h2>Display the possible Alpha-numeric combinations of the phone number</h2>
  <div *ngFor="let comb of combinations | slice: lowValue : highValue; let i=index">
    {{i+1 + ": " + comb}}
  </div>
</div>

<div *ngIf="combinations.length>0">
  <mat-paginator [length]="combinations.length" [pageSize]="pageSize" (page)="pageEvent = getNextPage($event)">
  </mat-paginator>
</div>